<div ng-controller="DepositProductMasterList" owd-screen="DepositProductMasterList">
	<form id="searchinputform" name="searchinputform" novalidate>
			<owd-accordion>
				<owd-accordion-group is-open="isopen">
					<fieldset>
						<div class="row">
							<owd-select id="centerCd" ng-model="head.centerCd" owd-models="centerList" owd-repeat-key="centerCd" owd-repeat-value="centerNm" label-text="センタ"></owd-select>
							<owd-text id="salesOrgCd" ng-model="head.msalesOrg.salesOrgCd" label-text="販売組織CD" owd-add-button="showSalesOrg()" ng-blur="salesOrgCdBlur()">
								<owd-info ng-model="head.msalesOrg.tenhanshaNm1"></owd-info>
							</owd-text>
							<owd-text id="accountCd" ng-model="head.accountCd" label-text="得意先" owd-add-button="showAccount()" ng-blur="accountCdBlur()">
								<owd-info ng-model="head.accountNm"></owd-info>
							</owd-text>
							<owd-text id="productCd" ng-model="head.mproduct.productCd" label-text="商品CD" owd-add-button="showProduct()" ng-blur="productCdBlur()">
								<owd-info ng-model="head.mproduct.productNm"></owd-info>
							</owd-text>
							<owd-text id="depositJanCd" ng-model="head.depositJanCd" label-text="預りJANCD"></owd-text>
							<owd-select id="delFlg" ng-model="head.delFlg" owd-models="delFlgList" owd-repeat-key="classCd" owd-repeat-value="classNm" label-text="削除"></owd-select>
						</div>
					</fieldset>
				</owd-accordion-group>
			</owd-accordion>
			<div class="row">
				<div class="col-xs-12" >
					<owd-button id="search" class="btn-info" ng-disabled="searchinputform.$invalid" ng-click="search()">検索</owd-button>
					<owd-button id="excelOutput" class="btn-info" ng-disabled="searchinputform.$invalid" ng-click="excelOutput()">Excel出力</owd-button>
				</div>
			</div>
			<br>
			<div owd-grid="gridOptions" owd-dblclick-option="gridDblClick(row)" id="depositProductMasterList" owd-form-name="searchform"   owd-backcolor-option="getClassForRow(row)" owd-select-options="gridSelectOptions" owd-button-options="gridButtonOptions" ></div>
			<br>
			<div id="content-footer"></div>
			<div id="content-footer-button" class="container">
				<div class="row">
					<div class="col-xs-12" align="right" style="overflow-x:auto;overflow-y:hidden;">
						<owd-button id="register" class="btn-info"  ng-click="register()">新規</owd-button>
						<owd-button id="update" class="btn-info" ng-disabled="!gridOptions.gridApi.selection.getSelectedRows().length" ng-click="update()">修正</owd-button>
					</div>
				</div>
			</div>
	</form>
</div>